.vscode
*build*
*bin*
*lib*
TODOs*
.idea
base*
*success*
cmake/UltraColdTargets.cmake
cmake/UltraColdTargets-release.cmake
include/*
examples/random_vortices/*
examples/vortex_lattice/*
examples/VideoData/*
examples/2d_twa_dipolars/*
examples/supersolid_quench/*
examples/faraday/*
examples/cutoff/*
examples/driven_dissipative/*
examples/ntfp_paper/*
examples/energy_imag_propag/*
examples/clebsch_initial_conditions/*
examples/testing/*
examples/intermittency/*
quench/*
labyrinth_CUDA/*
labyrinth_modified/*
toy_models/*
energy_dif/*
