.vscode
*build*
*bin*
*lib*
TODOs*
.idea
base*
*success*
cmake/UltraColdTargets.cmake
cmake/UltraColdTargets-release.cmake
include/*
examples/random_vortices/*
examples/vortex_lattice/*
examples/VideoData/*
examples/2d_twa_dipolars/*
examples/supersolid_quench/*
examples/faraday/*
examples/cutoff/*
quench/*
labyrinth_CUDA/*
labyrinth_modified/*
toy_models/*
energy_dif/*
minicode/*
test_cutoff/*
